.product img {
    width: 100%;
    height: 200px !important;
    object-fit: contain;
    border-radius: 6px;
    cursor: pointer;
}

.discount {
    position: absolute;
    top: 0;
    left: 0;
    background: #432818;
    padding: 3px 10px;
    font-size: 12px;
    border-radius: 50px;
    color: #fff;
    margin: 10px;
}

.product {
    background: #fff;
    padding: 20px;
    position: relative;
    border-radius: 8px;
    box-shadow: #43281836 0px 1px 3px;
    margin: 10px;
}

.product h3 {
    margin: 10px 0;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    color: #432818;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product .rate i {
    font-size: 15px;
    color: #ffcd4e;
    margin: 5px 5px 5px 0;
}

.product .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #432818;
}

.price h4 {
    margin: 20px 0 10px;
    font-size: 20px;
}

.price button {
    background: none;
    color: #432818;
    font-size: 20px;
    transition: 0.5s;
    border: 1px solid #43281854;
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

.price button:hover {
    cursor: pointer;
    background-color: #432818;
    color: #fff;
}

button.add {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 50%;
}

.product-like {
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 34px;
    margin: 10px;
    opacity: 0;
    transition: 0.5s;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #d90429;
    transition: all 0.2s linear;
}

.product-like:hover {
    background-color: #f40029;
    border-color: #f40029;
    cursor: pointer;
}

.product-like label {
    background-color: #0f3460;
    font-size: 12px;
    color: white;
    border-radius: 50px;
}

.product-like ion-icon {
    color: #d90429;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.product-like:hover ion-icon {
    color: #fff;
}

.product:hover .product-like {
    opacity: 1;
}
